---
import { dateRange } from "@lib/utils";
import { Icon } from 'astro-icon/components'
const { entry } = Astro.props;

---

<li class="animate">
    <div class="text-sm opacity-75">
      {dateRange(entry.data.dateStart, entry.data.dateEnd)}
    </div>
    <div class="font-semibold text-black dark:text-white">
      {entry.data.org}
    </div>
    <div class="text-sm opacity-75 flex align-center gap-1 subtitle">
      {entry.data.isSchool ? <Icon name="mdi:school-outline" class="w-4 h-4 inline-block" /> : <Icon name="mdi:badge-account-horizontal-outline" class="w-4 h-4 inline-block" />}
      <span set:html={entry.data.subtitle}/>
    </div>
    <article>
      {entry.Content && <entry.Content />}
    </article>
  </li>
  
  <style>
    
    .subtitle {
      margin-top: 5px;
    }

    .subtitle > svg {
      display: inline;
      margin: auto 0;
      margin-right: 5px;
    }
    


  </style>