---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import Experience from "@components/Experience.astro";
import { dateRange } from "@lib/utils";
import { EXPERIENCE } from "@consts";
import type { MarkdownHeading } from "astro";
import type { AstroComponentFactory } from "astro/runtime/server/index.js";

const collection = (await getCollection("experience"))
  .sort((a, b) => (new Date(b.data.dateEnd).valueOf() || Infinity) - (new Date(a.data.dateEnd).valueOf() || Infinity) );

const experience = await Promise.all(
  collection.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  })
);

type exp = { Content: AstroComponentFactory; id: string; slug: string; body: string; collection: "experience"; data: { org: string; subtitle: string; dateStart: Date; dateEnd: (string | Date) & (string | Date | undefined); isSchool: boolean; }; render(): Promise<{ Content: AstroComponentFactory; headings: MarkdownHeading[]; remarkPluginFrontmatter: Record<string, any>; }>; }[];
let education: exp = [];
let work: exp = [];

experience.forEach(exp => {
  if (exp.data.isSchool) return education.push(exp);
  work.push(exp);
});
---

<PageLayout title={EXPERIENCE.TITLE} description={EXPERIENCE.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="space-y-4">
        <div class="animate font-semibold text-black dark:text-white">
          {education.length > 0 ? "Education" : ""}
        </div>
        <ul class="flex flex-col space-y-4">
          {
            education.map(entry => (
              <Experience {entry} />
            ))
          }
        </ul>
      </div>
      <div class="space-y-4">
        <div class="animate font-semibold text-black dark:text-white">
          {work.length > 0 ? "Work" : ""}
        </div>
        <ul class="flex flex-col space-y-4">
          {
            work.map(entry => (
              <Experience {entry} />
            ))
          }
        </ul>
      </div>
    </div>
    </div>
  </Container>
</PageLayout>
